In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('./data/node4.csv',header =0)#,sep='\t')
dataset.head()

          node        day  hour    flow alias
0  T2147491989  2016/4/18     1 -7110.0  WABA
1  T2147491989  2016/4/18     2 -7110.0  WABA
2  T2147491989  2016/4/18     3 -7110.0  WABA
3  T2147491989  2016/4/18     4 -7110.0  WABA
4  T2147491989  2016/4/18     5 -7110.0  WABA

In [27]:
flow = dataset['flow'].values
len(flow)

flow_reshape = flow.reshape((len(flow)//24,24))

flow_reshape = flow_reshape.T

flow_reshape.shape

# with open("node4_reshape.csv", 'ab') as f1:
#     np.savetxt(f1, flow_reshape,delimiter=",")

4080